html{
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
}
body{
	background-size: cover;
	text-align: center;
	margin: 0;
	background: url(../image/bg.jpg);
	background-size: cover;
	color: #ffffff;
}
.main{
	height: 100vh;
}
.header{
    position: absolute;
    top: -150px;

}
.header img{
	width: 176px;
}
.header a:hover{
	opacity: .9;
}
.wrapper{  
	padding: 0px 0px 0px;
	width: 80%;
	
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	display: flex;          
	justify-content: center;
	align-items: center; 
}
@media(max-width:768px){
	.wrapper{
		width: 100%;
		display: block;
	}
}
.left_box{
	width: 50%;
	float: left;
	position: relative;
}
@media(max-width:768px){
	.left_box{
		width: 100%;
		float: none;
		margin: 40px 0 0 0;
	}
}
.left_box h1{
	font-size: 3.2rem;
}
.right_box{
	width: 50%;
}
.left_box p{
	font-size: 1.6rem;
	padding: 0 0 24px;
}
.left_box .typeform_btn{
	text-align: center;
	display: block;
	margin: 30px 0 0 0;
}
.left_box .typeform_btn a{
	background: #2F68B4;
	padding: 20px 24px;
	border-radius: 3px;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.6rem;
}
.left_box .typeform_btn a:hover{
	opacity: 0.8;
}
.left_box .btn_message{
	font-size: 1.2rem;
	width: 80%;
    margin: 0 auto;
	padding: 24px 0 24px 0;
	
}
@media(max-width:768px){
	.left_box .btn_message{
		width: 80%;
    	margin: 0 auto;
    	padding: 24px 0 24px 0;
	}
}
.left_box .fab4wdcup{
	
}
.fab4wdcup 	img{
	width: 112px;
}
   

@media(max-width:768px){
	.right_box{
		width: 100%;
		margin: 40px 0 0 0;
	}	
}
.iphone_wrap{
	position: relative;
	width: 300px;
	margin: 0 auto;
	padding: 24px 0 0 0;
}
.iphone{
}
.right_box .movie{
	/*width: 258px;*/
    top: 82px;
    position: absolute;
    right: 17px;
    z-index: 2;
}
